:root {
  --color-white: #ffffff8a;
  --color-gold: rgb(216,175,39);
  --opacity: 0.68;
}


body {
  background-image: url("/public/images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  text-align: center;
  opacity: var(--opacity);
}

.login-container {
  background-color: var(--color-white);
}